.list{
    margin-left: 420px;
}
.music{
    font-size: 20px;
    color: blueviolet;
    margin-left: -400px;
}
.musicpoto{
    margin-left: -400px;
}
.video{
   margin-top: -240px;
   margin-left: 200px;
   font-size: 20px;
   color: red;
}
.videopoto{
    margin-left: 280px;
    margin-top: -200px;
}
.and{
    margin-top: 340px;
    font-size: 70px;
}
.favmusic{
    margin-top: -620px;
    margin-left: -400px;
}
.favvideo{
    margin-top: -20px;
    margin-left: 270px;
}
.abtmebutton{
    margin-top: 250px;
}
.zaza{
    margin-top: -80px;
    margin-left: 250px;
}
.fula{
    margin-top: -223px;
    margin-left: 650px;
}
.Kayakata{
    margin-top: -223px;
    margin-left: 1100px;
}
.elaiza{
    margin-left: 1100px;
    margin-top: -25px;
}
.time{
    margin-top: -120px;
    margin-left: 650px;
}
.house{
    margin-left: 250px;
    margin-top: -120px;
}
.favideo{
    margin-left: 1400px;
    margin-top: 180px;
}
.abtme1{
    margin-left: 1280px;
    margin-top: -20px;
}
.gota{
    margin-left: 20px;
    margin-top: 130px;
}
.luckboy{
    margin-left: 600px;
    margin-top: -425px;
}
.saechvo{
    margin-left: 1120px;
    margin-top: -440px;
}
.luckvideo{
    margin-left: 600px;
}
.saechvovideo{
    margin-left: 1120px;
}
.abtme2{
   margin-top: -470px;
}
.all{
    margin-top: 570px;
}

.itext{
    margin-top: -700px;
}
.github{
    margin-top: -200px;
    margin-left: 1430px;
}
.facebook{
    margin-left: 1300px;
    margin-top: -20px;
}
.insta{
    margin-left: 1160px;
    margin-top: -20px;
}
.hobby{
    margin-top: 220px;
}
.hobbytext{
    margin-top: -280px;
}
.mepoto{
    margin-left: 600px;
    margin-top: -150px;
}
.me{
    margin-top: -370px;
    margin-left: 600px;
}
.metext{
    margin-left: 600px;
    margin-top: 320px;
}