.hp{
    @media screen {
        max-width: 600px;
    width: 350px;
    height: 330px;
    margin-top: 200px;
    margin-left: 100px;
    background: url(https://zoommer.ge/_next/image?url=https%3A%2F%2Fs3.zoommer.ge%2Fsite%2Fc5422779-4b9c-4c26-8365-b0ce70fe3b98_Thumb.jpeg&w=384&q=100);
}
}
.hptext{
    @media screen {
        max-width: 700px;
    margin-top: -330px;
    margin-left: 100px;
}
}
.hpbuy{
    @media screen {
        max-width: 600px;
    margin-top: -60px;
    margin-left: 120px;
}
}
.acer{
    @media screen {
        max-width: 1000px;
    width: 370px;
    height: 330px;
    margin-left: 800px;
    background: url(https://zoommer.ge/_next/image?url=https%3A%2F%2Fs3.zoommer.ge%2Fsite%2F9141ca7d-34a5-4868-852f-bd874dedf5bd_Thumb.jpeg&w=384&q=100);
}
}
.acertext{ 
    @media screen {
    max-width: 1000px;
    margin-top: -300px;
    margin-left: 800px;
}
}
.acerbuy{
    @media screen {
        max-width: 1000px;
    margin-top: -60px ;
    margin-left: 820px;
}
}
.asus{
    @media screen {
        max-width: 2000px;
    width: 400px;
    height: 300px;
    background: url(https://zoommer.ge/_next/image?url=https%3A%2F%2Fs3.zoommer.ge%2Fzoommer-images%2Fthumbs%2F0198090_asus-15-e1504ga-bq193-black_550.jpeg&w=384&q=100);
    margin-top: -30px;
    margin-left: 1400px;
}
}
.asustext{
    @media screen {
        max-width: 2000px;
    margin-top: -270px;
    margin-left: 1550px;
}
}
.asusbuy{
    @media screen {
        max-width: 2000px;
    margin-top: -60px;
    margin-left: 1570px;
}
}
.hpmon{
    @media screen {
        max-width: 2000px;
    margin-top: 300px;
    margin-left: 150px;
}
}
.acermon{
    @media screen {
        max-width: 2000px;
    margin-top: -170px;
    margin-left: 860px;
}
}
.asusmon{
    @media screen {
        max-width: 2000px;
    margin-top: -170px;
    margin-left: 1470px;
}
}
.altext{
    @media screen {
        max-width: 2000px;
    margin-top: -1000px;
    margin-left: 700px;
}
}
.alta{
    @media screen {
        max-width: 2000px;
    margin-left: 700px;
}
}
.mega{
    @media screen {
        max-width: 2000px;
    margin-left: 950px;
    margin-top: -50px;
}
}
.mymarket{
    @media screen {
        max-width: 2000px;
    margin-left: 1050px;
    margin-top: -70px;
}
}
.extra{
    @media screen {
        max-width: 2000px;
    margin-top: -15px;
    margin-left: 700px;
}
}
.dabla{
    @media screen {
        max-width: 2000px;
    margin-top: 750px;
}
}
.git{
    @media screen {
        max-width: 2000px;
    margin-top: 750px;
    margin-left: 1740px;
}
}
.gittext{
    
    margin-top: -50px;
    margin-left: 1820px;
}
