.wiki{
    margin-top: -50px;
}
.history{
    margin-left: 500px;
    margin-top: 100px;
    font-size: 60px;
}
.button{
    margin-left: 400px;
    margin-top: -64px;
}
.italy{
    margin-top: -800px;
    margin-left: 680px;
}
.location{
  margin-top: -680px;
  margin-left: 1100px;
}

.flo{
    margin-left: -700px;
}
.info{
    margin-left: 350px;
}
.flag{
    margin-top: -760px;
    margin-left: 600px;
}
.home{
    margin-top: 710px;
    margin-left: 950px;
}
.potos{
    margin-top: 30px;
    margin-left: 120px;
}
.poto1{
    margin-top: -700px;
}
.poto3{
    margin-left: 170px;
    margin-top: -130px;
}
.poto4{
    margin-left: 280px;
    margin-top: -134px;
}
.poto5{
    margin-top: 40px;
}
.poto6{
    margin-left: 1350px;
    margin-top: -650px;
}
.poto7{
    margin-left: 1050px;
    margin-top: -250px;
}
.home3{
    margin-left: 1420px;
    margin-top: 400px;
}
.idk{
 margin-top: -400px;
   margin-left: 1040px;
}
.pop{
    margin-top: -700px;
}
.inff{
    margin-left: 1150px;
    margin-top: -800px ;
}